html{
    scroll-behavior: smooth;
}

:root {
    --color_principal: black;
    --color_fondo: rgb(239, 238, 234) ;
    --color_2docolor: rgb(104, 104, 104);
    --color_3ercolor:rgb(124, 145, 173);
    --type_titulos:'Grape Nuts', cursive;
    --type_titulossecundarios: 'Baloo Da 2', cursive;
}

* {
    margin: 0em; 
    padding: 0em; 
    box-sizing: border-box; 
    text-decoration: none; 
}
body{
    font-size: 10px;
}
img{
    width: 100%;
    height: auto;
}



/*header*/
header {
    width: 100%;
    padding-top: .8em;
    padding-bottom: .8em;
    background-color: var(--color_principal);
    position: fixed;
    z-index: 5 ;
}
.contenido {
    display: flex;
    width: 70%;
    margin:auto;
    justify-content:space-between;
    align-items: center;
}
.bloque{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 15%;
}
.mi_portafolio{
    font-size: 50px;
    font-family: var(--type_titulos);
    color: white;
}
.menu{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;  
}
.menu ul li{
    display:inline;
    font-family: var(--type_titulossecundarios);
    border-radius:1em solid white ;
    padding: .8em 1em .8em 1em;
    margin-left: 1em;
    font-size: 20px;
}
.menu a{
    color: white;
}
.menu a:hover{   
 text-decoration: overline 14px;
}



/*bienvenidos*/
.bienvenido_bloque{
    background-color: var(--color_2docolor);
    padding: 1em 0em 3em 0em;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 65px),50% 100%,0 calc(100% - 65px));
}
.bienvenido {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    align-items: center;
    gap: 80px;
    margin-top: 18em;
    margin-bottom: 7em;
}
.galeria{
    width: 50%; 
}
.texto{
    display: flex;
    flex-direction: column;
}
.texto h1{
    font-family: var(--type_titulos);
    text-align: center;
    font-size: 50px;
}
.texto p{
    font-family: var(--type_titulossecundarios);
    font-size: 15px;
}
.texto .icono_movimiento{
    text-align: center;
    font-size: 20px;
    padding-top: 2em;
}
.icono_movimiento a {
    color: var(--color_principal);
}



/*servicios*/
.fondo_servicios{
    clip-path: polygon(0 0,50% 65px,100% 0,100% 100%,0 100%);
    margin-top: -10em;
    background-color: var(--color_3ercolor);
}
.servicios{
    padding-top: 15em;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    align-items: center;
    gap: 30px;
    margin-top: 5em;
    margin-bottom: 7em;
}
.servicios h1{
    font-family: var(--type_titulos);
    text-align: center;
    font-size: 40px;
    margin: 2em;
}
.servicios p{
    font-family: var(--type_titulossecundarios);
    font-size: 15px;
    width: 70%;
}
.servicios h3{
    font-family: var(--type_titulos);
    text-align: center;
    font-size: 20px; 
}
.servicios .icono_movimiento{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 20px;
}
.icono_movimiento a {
    color: var(--color_primario);
}



/*proyectos*/
.fondo_galeria{
    background-color:var(--color_fondo);
    margin-bottom: 5em;
}
.galerias{
    display: flex;
    flex-direction: column;
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.proyectos { 
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 5em;
    margin-bottom: 5em;
}

.galerias h1{
    font-family: var(--type_titulos);
    text-align: center;
    font-size: 40px;
    margin: 3em;
}
.galerias p{
    font-family: var(--type_titulossecundarios);
    font-size: 15px;
    width: 70%;
    text-align: center;
    margin:auto
}
.blanco_negro{
    width: 25%; 
}
.digital{
    width: 25%; 
}
.colores{
    width: 25%; 
}



/*footer*/
.footer{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--color_principal);
}
.frase{
    font-size: 50px;
    color: var(--color_fondo);

}
.derechos{
    width: 70%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 10px;
    color: var(--color_fondo);
}
.redes .iconos {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    padding: 5em 0em 5em 0em;
}
.redes .iconos ul li{
    display: inline;
    margin-right: 1em;
    font-size: 3em;
}
.redes .iconos a{
    color: var(--color_fondo);
}




/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {

/*header*/
.contenido {
    flex-direction: column;
    width: 80%;
}
.logo{
    width: 30%;
}
.mi_portafolio{
    font-size: 25px;
}
.menu{ 
    margin-top: 1.5em;
    gap: 30px;  
}
.menu ul li{
    padding: .4em .5em .4em .5em;
    font-size: 12px;
}
.menu a:hover{   
 text-decoration: underline 7px;
}



/*bienvenidos*/
.bienvenido {
    flex-direction: column;
    width: 80%;
    gap: 30px;
    margin-top: 15em;
}
.galeria{
    width: 100%; 
}
.texto{
    gap: 10px;
}
.texto h1{
    font-size: 25px;
}
.texto p{
    font-size: 12px;
}
.texto .icono_movimiento{
    padding-top: .8em;
}



/*servicios*/
.servicios{
    padding-top: 7em;
    width: 80%;
    gap: 10px;
}
.servicios h1{
    font-size: 20px;
    margin: .5em;
    margin-top: 1.5em;
}
.servicios p{
    font-size: 12px;
    width: 100%;
    margin: 2em;
}
.servicios h3{
    font-size: 15px; 
}
.servicios .icono_movimiento{
    font-size: 15px;
}



/*proyectos*/
.galerias{
    width: 80%;
}
.proyectos { 
    flex-direction: column;
    gap: 40px;
    margin-top: 4em;
    margin-bottom: 4em;
}
.galerias h1{
    font-size: 20px;
    margin: 1em;
    margin-top: 3em;
}
.galerias p{
    font-size: 12px;
    width: 100%;
}
.blanco_negro{
    width: 100%; 
}
.digital{
    width: 100%; 
}
.colores{
    width: 100%; 
}



/*footer*/
.frase{
    font-size: 40px;
    text-align: center;
}
.derechos{
    font-size: 8px;
}
.redes .iconos {
    padding: 2.5em 0em 2.5em 0em;
}
.redes .iconos ul li{
    font-size: 2em;
}


 

}